body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 14px;
}

ul, li {
    padding: 0;
    margin: 0;
}


img {
    border: 0;
    vertical-align: top;
}

.tab {
    min-width: 140px;
    font-size: 1.2em;
}

.tab li {
    display: inline-block;
    cursor: pointer;
}

.tab li.active {
    color: #39f;
    border-bottom: 1px solid #39f;
    cursor: inherit;
}

.list {
    font-size: 1.1em;
    min-width: 23em;
}

.summary {
    margin-top: 1em;
    margin-bottom: 0;
}

.item {
    width: 30em;
    overflow: hidden;
    cursor: pointer;
}

.item-read {
    border: 1px solid red;
}

.item h3 {
    color: #009de8;
    font-size: 1.3em;
}

.item h3:hover {
    text-decoration: underline;
}

.image-panel {
    float: left;
    width: 12.4em;
}

.image-panel img {
    width: 12.4em;
    height: 9.3em;
}

.info-panel {
    margin-left: 12.5em;
    padding-left: 1em;
    padding-top: 1em;
}

.operation button {
    display: inline-block;
    width: 98px;
    height: 34px;
    background-color: #ffffff;
    border-radius: 2px;
    color: #394043;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.chart {
    width: 25em;
    height: 20em;
}

